<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330639108543-coqsmk8kqjg386pg85r58opm34h8r674.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330639108543-coqsmk8kqjg386pg85r58opm34h8r674</string>
	<key>API_KEY</key>
	<string>AIzaSyAo2htXNvUWFLexYStfwPBo5hW2f3NlHkM</string>
	<key>GCM_SENDER_ID</key>
	<string>330639108543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monafh.LogoIcone</string>
	<key>PROJECT_ID</key>
	<string>icons-42e92</string>
	<key>STORAGE_BUCKET</key>
	<string>icons-42e92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:330639108543:ios:df91bc17b9f26310ae190a</string>
</dict>
</plist>
